/Elettra_campaign_Aug24_2021_results
/Elettra_campaign_Aug24_2021_results.zip
/Moondust_Elettra_data_presentation.pdf
/SEE_data.ipynb
/phelectron_flux_analysis.ipynb
/sorce_ssi_l3.csv
/timed_see_ssi_l3.csv
/timed_see_xps_ssi_l4.csv